{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Atma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/global.css"> -->
    <link rel="stylesheet" href="../static/homepage.css">
</head>

<div class="hero-text">
    <p>Fun-Filled Party Bags in Exeter!</p>
    <p class="hero-text-small">We're a startup based in Exeter, specializing in crafting fun, customized party bags for all occasions. Our mission is to add a little extra joy to your celebrations!</p>
</div>

<!-- Dynamically load rows for each category -->
{% for category, products in category_products.items() %}
    <div class="row-of-whatever">
        <h3>{{ category }} Bags</h3>
        <div class="row-of-categories">
            {% for product in products %}
                <div class="category-card">
                    <a href="{{ url_for('product', product_id=product.id) }}">
                        <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" width="200" height="200">
                        <p>{{ product.name }}</p>
                        <p>£{{ product.price }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}